.profil{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center



  
}
.name{
  color: rgb(73, 76, 131);
}
.img{
  width: 200px;
}
.btn{
  background-color: rgb(73, 76, 131);
  height: 30px;
  margin-top: 20px;
  border-color: rgb(73, 76, 131);
}